Modern Design and Attractive Layout Modern Design and Attractive Layout 

Business Background

-(Institutional Context: VUT is a vibrant university with students making up a diverse base that need help with managing academic, demand socially and in terms of wellness.)

-Current Challenges: Finding resources, groups, and services is challenging. Real-time support and guidance need to be improved for freshers and finalists.

-Market Gap: There is currently no platform that would address the needs of VUT students under one easy-to-use app in the form of a comprehensive social, wellness, academic support, and campus navigation system.

Requirements

-Social group directories, event calendars, academic support resources, (campus map).

-AI chatbot that responds in real-time for counselling and general student support.
Non-functional Requirements:

-The application should be secure; students' private data should not be tampered with.

-The application should be highly reliable, especially the (GPS and) chatbot aspects, and should load fast.